<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
          <ion-icon name="add"></ion-icon>
        </button> <!-- calls add item function when clicked -->
  </ion-buttons>
    <ion-title>Ordering</ion-title> <!-- navigation page title -->

  </ion-navbar>
</ion-header>

<ion-content padding-left>

    <ion-grid style = "height: 100%">
        <h2>Main food menu for adding items and orders</h2> <!-- description -->

    <ion-row style = "height: 100%"> 
        <ion-col>
        <!-- Menu Items -->
        <ion-title>Food Items</ion-title><!-- Title for items -->
            <p>Tap the items to add them to the order</p>
        <ion-list>
           
                <ion-item-sliding *ngFor="let item of items"> <!-- making it slideable -->

                    <button ion-item (click)="itemTapped(item)"> <!-- calls itemTapped function when item is clicked -->
                        <!-- displaying title and fee -->
                        {{item.title}}
                        {{item.fee}}
                    </button>

                    <!-- Sliding options -->
                    <ion-item-options>
                        <button ion-button icon-only (click)="editItem(item)" light> <!-- calls editItem function when edit button is clicked -->
                            <ion-icon name="paper"></ion-icon>
                        </button>

                        <button ion-button icon-only (click)="deleteItem(item)" danger> <!-- calls deleteItem function when bin is clicked -->
                            <ion-icon name="trash"></ion-icon>
                        </button>

                    </ion-item-options>
 
                </ion-item-sliding>
 
        </ion-list>
            
        <!-- Orders -->
        <ion-title>Orders</ion-title> <!-- title for orders -->
        <p>Tap on the items to remove them from the order
                <!-- displaying the confirm button when there is an order and calling the confirmOrder function when button is clicked -->
                <button ion-button color = "dark"icon-end  *ngIf="this.orders.length>0" (click)="confirmOrder(item)"> 
                        Confirm  <ion-icon name="checkmark"></ion-icon>
                </button>
        </p>

        <ion-list>
            <!-- making the items in order clickable and calls removeItem function when clicked -->
           <button ion-item *ngFor="let item of orders"(click)="removeItem(item)"> 
               <!-- displaing title and fee -->
                {{item.title}}
                {{item.fee}}
            </button>
        
        </ion-list>

        </ion-col>   

    </ion-row>
        
    </ion-grid>

</ion-content>